.wpWidget {
    width: 5rem;
    z-index: 999;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

@media (max-width: 600px) {
    .wpWidget {
        width: 3rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}