.imgDetail {
    width: 70%;
    border-radius: 15px;
    margin-bottom: 1rem;
}


.line {
    width: 21rem;
    height: 1.5px;
    background-color: yellow;
}

.detailLinks {
    text-decoration: none;
}

@media (max-width: 600px) {
    .line {
        width: 10rem;
    }
}