.imgDetail {
    width: 80%;
    height: 95%;
    border-radius: 15px;
}


.line {
    width: 21rem;
    height: 2px;
    background-color: yellow;
}


@media (max-width: 600px) {
    .line {
        width: 10rem;
    }
}