.videoHero {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .videoHero {
        width: 50%;
        border-radius: 20px;
    }

    
.btnPersonalizar {
    transition:  .5s  !important;

}
.btnPersonalizar:hover {
    transform: scale(1.1);
}


 
}



.heroTitle {
position: relative;
text-shadow: -0.05em 0 0 rgb(255 0 0 / 65%), -0.025em -0.05em 0 rgb(0 255 0 / 65%), 0.025em 0.05em 0 rgb(0 0 255 / 65%); 
text-transform: uppercase;
animation: glitch 500ms infinite; 
}


