
.swiper {
    /* height: 480px; */
    height: 100%;
    width: 90%;
    /* margin-left: 7rem !important; */
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: yellow !important;
    top: 30rem !important;
}

.swiper-button-prev {
    left: -0.1rem !important;
}

.swiper-button-next {
    right: -0.1rem !important;
}

.swiper-pagination-bullet {
    background-color: #F4BF00 !important;
}

.swiper-pagination-bullet-active {
    background-color: yellow !important;
}

