header {
    border-radius: 13px;
    margin: 0 auto;
    z-index: 999;
    margin-bottom: 25px;
    opacity: 0.97;
}

.logo {
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.logoMobile {
    width: 75px;
    padding: 5px;
}

.navlinks {
    padding-right: 40px;
}

.navLink {
    text-decoration: none;
  
}



