.logo {
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.logoMobile {
    width: 75px;
    padding: 5px;
}

.navlinks {

padding-right: 40px;
}



/* header {
    margin-bottom: 200px;
    z-index: 900;
}

.nav {
    font-family: 'Roboto';
    font-size: 0.8rem;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    color: white;
}

.logo {
    width: 7vw;
    min-width: 100px;
    margin: 0 ;
    
    }

.nav-link {
    color: white;
    font-weight: 500;
    letter-spacing: 0.05em;

}

.textField {
    width: 70vw  !important;
} */