header {
    margin-bottom: 200px;
}

.nav {
    font-family: 'Roboto';
    font-size: 20px;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

/* .navbarContent {
    width: max-content;
    border-bottom: 1px solid white;
} */

.nav-link {
    color: white;
    font-weight: 400;
    letter-spacing: 0.05em;

}
