body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white !important;
  font-family:'Roboto', 'Helvetica Neue', sans-serif !important;
  box-sizing: border-box;
}


.bg-dark {
  background-color: black !important;
}






