body {
background-color: black;
color: black;

}



.bg-dark {
  background-color: black !important;
}


.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



